.text-container {
  position: relative;
  height: 100%;
}
.text-container__text {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.annotation rect,
.node rect,
.database path {
  transition: fill 400ms;
}
.color--lookup {
  fill: #dcd0e5;
}
.color--quote {
  fill: #fee3c6;
}
.color--prepare {
  fill: #d3e6fc;
}
.color--fulfill {
  fill: #cde6ce;
}
