.trace-input__edit {
  margin: 0.5em 0;
  height: 1.5em;
}
.trace-input__input {
  margin-left: 0.5em;
  padding: 0.4em;
  width: 250px;
}
.trace-input__button,
.trace-input__error,
.trace-input__icon,
.trace-input__id {
  margin-left: 0.5em;
}
.trace-input__icon,
.trace-input__id,
.trace-input__label {
  /*vertical-align: middle;*/
}
